notes/
certificates/
ppt/
model my/
web app/frontend/node_modules/
web app/node_modules/
Images_Dataset/
Research_Paper/
label_backups/
/underwater_garbage/
web/node_modules/
web/frontend/node_modules/
web/backend/.venv/
data/algae/
data/
